img {
    height: 15vh;
    width: 10vw;
    margin-top: 40px;
}
.tilecolor{
border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px;
    transition: box-shadow ease-in 1s;
    margin: 50px;
    height: 300px;
    justify-content: space-between;
    width: 200px;
  
    
}
.tilecolor:hover {
    box-shadow: 4px 4px
}

/*.tilecolor{
    display: grid;
    grid-gap: 10px;
    margin: 0 75px;
    grid-gap: 20px 40px;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;

}*/